
/* ------------------- media ------------------- */
@media all and (max-width: 1599px) {


    /* ------------------- button main ------------------- */
.button_main {
    font-size: 14px;
}

    .button_more {
        font-size: 18px;
    }

    /* ------------------- carousel ------------------- */
    #carousel img {
        max-width: 300px;
    }

    /* ------------------- main styles ------------------- */
    .VDBaGtQJKsZ {
        font-size: 14px;
    }

    .VMsIyNdqeuw {
        font-size: 24px;
    }

    .uUkeLSfdtdy {
        padding-right: 15px;
    }

    .MWSkYqbCeRQ {
        font-size: 16px;
    }

    .rWXbPxzTmoB {
        font-size: 43px;
    }

    .KSwoDycexFW {
        font-size: 20px;
    }

    .KLmiVAFCKbp {
        font-size: 17px;
    }

.mGXyvgzVMtT {
font-size: 87px;
    font-weight: 700;
}

    .utdxYWlXyHc {
        font-size: 17px;
    }

    .YTxutSvyADf {
        font-size: 17px;
    }

    .DbqMDcyuGKr {
        font-size: 18px;
    }

    .VzpBDgKojMy {
        font-size: 18px;
        padding: 10px 20px;
    }

    .hDLLaWNYLNG {
        padding: 20px 30px;
    }

    .fuqWyEEetkd {
        font-size: 12px;
    }

    .AgfMsPmblHW {
        font-size: 14px;
    }

    .TMBrSNLXVkO {
        font-size: 50px;
    }

    .yVcEiCtrStg {
        font-size: 14px;
    }

    .MjoqrFcHJQM {
        font-size: 52px;
    }

    .IxfEJYDTWwr {
        font-size: 18px;
    }

    .POViLmkqoUJ {
        font-size: 16px;
    }

    .TRppLulJyeU {
        font-size: 22px;
    }

    .frfTXoYWXOn {
        font-size: 38px;
    }

    .kyVpwOylUqH {
        font-size: 38px;
    }

    .YgoTTVbLbOM {
        font-size: 18px;
    }

    .RNpisaQJVFJ {
        font-size: 160px;
    }

    .eFxLSDlUapo {
        font-size: 38px;
    }

    .haWBIeWOJLs {
        padding: 45px 50px;
    }

    .tSTQVXFQIdU {
        font-size: 18px;
    }

    .zIgLwQUhTGN {
        padding: 0 15px 30px;
    }

    .ntJMYtMTNLF {
        font-size: 18px;
    }

    .hSqvFrzJHGS {
        font-size: 14px;
    }

    .vzuEjUJcImh {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .HAWxYKFBHCl {
        max-width: 100%;
    }

    .DlLRnqmGOKx {
        font-size: 22px;
    }

    .vPdoOHGprPg {
        font-size: 32px;
    }

    .zGGrnRtwebb {
        font-size: 52px;
    }

    .VgkCYUxLGxu {
        font-size: 14px;
    }

    .PsamSRnjaSv {
        font-size: 18px;
    }

    .OQvwQmMTEDM {
        font-size: 14px;
        padding: 20px 15px;
        min-height: 170px;
    }

    .HUmYKxxpvPL {
        font-size: 18px;
        padding: 0 15px;
    }

    .uPRbZMckkdw {
        font-size: 14px;
        padding: 0 15px;
    }

    .fCUNWfhqDdf {
        font-size: 38px;
    }

    .IgxoHdJWRZm {
        font-size: 22px;
    }

    .qDzNWYnauIN {
        font-size: 22px;
    }

    .HaoddmBZszO {
        width: 165px;
        height: 166px;
    }

    .ZvihvfhJKbA:before {
        width: 180px;
        height: 180px;
    }

    .dPxsajojbHh {
        font-size: 10px;
    }

    .BqBwypNMjii {
        padding: 30px 15px;
    }

    .zuAteEXQXKC {
        font-size: 20px;
    }

    .HeskajyjyoC {
        font-size: 14px;
    }

    .MvbEIRdIxId {
        min-height: 70px;
    }

    .ZTqNRZqKGOt {
        font-size: 38px;
    }

    .visIYIhyBBP {
        font-size: 24px;
    }

    .TXwoxgSwTtZ {
        font-size: 24px;
    }

    .zuWcAaVUAjk {
        max-width: 180%;
    }

    .MbCjWLEVMle {
        font-size: 14px;
    }

    .WsTECTpZpeb {
        padding: 50px;
    }

    .itqbMJwNLHd {
        font-size: 22px;
    }

    .LhaHdvYEKkd {
        font-size: 38px;
    }

    .BtywTWmjtrx {
        font-size: 18px;
    }

    .KdvCEeAsNde {
        width: 659px;
        bottom: -50px;
        left: -210px;
    }

    .UTqLTiPiBkb {
        font-size: 24px;
    }

    .pokPFuJCVCR {
        font-size: 18px;
    }

    .XtPklfJrkbw {
        font-size: 14px;
    }

    .TnBNFdmhANx {
        font-size: 38px;
    }

    .wzvKKRiyVUu {
        padding: 0 30px;
    }

    .lPGWxvhyJQq {
        font-size: 38px;
    }

    .QWGUoMiYAFw {
        font-size: 22px;
    }

    .jQbHMdSXLNq {
        font-size: 38px;
    }

    .FgdlkAyuVAV {
        font-size: 18px;
    }



    .HZmBvzkoEiv {
        font-size: 22px;
    }

    .cYatuKrQFBR {
        font-size: 22px;
    }

    .vSCKfMoQkuS {
        font-size: 38px;
    }

    .VzyuRLUVxlr {
        padding: 30px 15px;
    }

    .YPQLUrsRjsy {
        font-size: 42px;
    }

    .kHFJTfPisiH {
        font-size: 14px;
    }

    .HuDvAJzaLhE {
        font-size: 14px;
    }

    .TbfQQrWCsqM {
        line-height: 1.3em;
        font-size: 16px;
        height: 60px;
    }

    .EGAMdsVevgt:before {
        font-size: 70px;
    }

    .hMzSeiYIoML {
        font-size: 38px;
    }

    .bFmCImuEEvh {
        font-size: 36px;
    }

    .niebSJwlKhq {
        padding: 30px;
    }

    .fkYiiJzBUpH {
        font-size: 52px;
    }

    .HaCsYrOpIGe {
        font-size: 16px;
    }

    .LxJMRtgPlWt {
        height: 60px;
    }

    .RSiquKknjiH {
        font-size: 38px;
    }

    .eEsNJjyjwPW {
        background: url(../img/eEsNJjyjwPW_2.png) no-repeat 100% top/50%, url(../img/eEsNJjyjwPW_1.png) no-repeat center/cover;
        padding: 40px 40px;
    }

    .YbRoYqZUkRZ {
        padding: 25px;
    }

    .GprIGsEQuLd {
        font-size: 38px;
    }

    .hIChUmkeLBt {
        font-size: 18px;
    }

    .pzsUnJJXmIU {
        font-size: 15.55px;
        padding-right: 30px;
    }

    .pzsUnJJXmIU:not(:last-of-type) {
        margin-bottom: 15px;
    }

    .SquUOWXOMpU {
        margin-top: 25px;
    }

    .xNwFiqBBrSt {
        font-size: 38px;
    }

    .KfRsfZzJMAq {
        padding: 20px 30px;
        font-size: 16px;
        min-height: 135px;
    }

    .GtoPNvVaCkt {
        font-size: 38px;
    }

    .UlGQlQaFVCs {
        font-size: 38px;
    }

    .NyPyuKNtbIt {
        font-size: 38px;
    }

    .ZGnNAXNWJeL {
        font-size: 24px;
    }

    .LvGOgxjbHAy {
        width: 50px;
        height: 50px;
        -webkit-background-size: 50% 50%;
        background-size: 50%;
    }

    .ctSetKrkseM {
        margin-left: 20px;
    }

    .XcNEqAjaVgs {
        padding: 130px 0;
    }

    .iQBUYCfQOHz {
        padding: 100px 0;
    }

    .yRMnzykxsUk {
        font-size: 38px;
    }

    .EjSekzwEImL {
        font-size: 20px;
    }

    .kTnuLzaOoht {
        font-size: 20px;
    }

    .ZUOhPqgvgMM {
        font-size: 18px;
    }

    .timer_p__num {
        font-size: 40px;
    }

    .timer_p__text {
        font-size: 14px;
    }

    .rvmAqnJkXat {
        font-size: 20px;
    }

    .MILSXkQIAJS {
        font-size: 22px;
    }

    .JibqfjetSne {
        font-size: 22px;
    }

    .ZpROIRrHrtV {
        font-size: 20px;
        margin-top: 20px;
    }

    .NYoeOHxCyqy {
        font-size: 38px;
    }

    .YuuqhjGJsYi {
        max-width: 50%;
    }

    .AmDYGcWNino {
        font-size: 38px;
    }

    .CzTmqZZjwXK {
        font-size: 22px;
    }

    .ppfXTNegAie {
        padding: 40px;
    }

    .EhNHzbiWgcK {
        font-size: 18px;
    }

    .jjFwyAazfJf {
        font-size: 18px;
    }

    .HfKquOodeow {
        font-size: 38px;
    }

    .GyuVjZWqGkm {
        font-size: 22px;
    }

    .UYYYfEvefNV {
        font-size: 38px;
    }

    .oXDVcrcuKFG {
        font-size: 22px;
    }

    .RXscYXJFfKY {
        margin-top: 30px;
    }

    .PCTuIFUuqax {
        height: 60px;
        width: 400px;
    }

    .gJUweTVrxuD {
        bottom: 30px;
        left: 45px;
    }

    .gMZuatHipTH {
        padding: 20px 30px;
    }

    .cPASFemAEYa {
        font-size: 22px;
    }

    .VPaOCPyDfRq {
        font-size: 22px;
    }

    .qkMrUXqRXBk {
        font-size: 12px;
    }

}

@media all and (max-width: 1199px) {
    .row.thightness{
        height: auto;
    }

    /* ------------------- carousel ------------------- */
    #carousel img {
        max-width: 400px;
    }

    .carousel-buttons {
        display: block;
        text-align: center;
        margin-top: 130px;
    }

    /* ------------------- main styles ------------------- */

    .HjRboQCXqrB {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .MkdMgcdGfLi {
        max-width: 600px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .uUkeLSfdtdy {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        margin-top: 20px;
    }

    .VMsIyNdqeuw {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .VDBaGtQJKsZ {
        text-align: left;
    }

    .VMsIyNdqeuw:before {
        display: none;
    }

    .hDLLaWNYLNG {
        max-width: 600px;
    }

    .bBcgSnkXgKx {
        margin-top: 60px;
    }

    .RNpisaQJVFJ {
        font-size: 120px;
    }

    .uvmFNMSLKRK {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .eFxLSDlUapo {
        font-size: 35px;
    }

    .OQvwQmMTEDM {
        min-height: 205px;
    }

    .HaoddmBZszO {
        width: 145px;
        height: 146px;
    }

    .ZvihvfhJKbA:before {
        width: 160px;
        height: 160px;
    }

    .KsUPSeSKnOB {
        padding: 30px;
    }

    .rSjnnyMzrTh {
        margin-top: 35px;
    }

    .CMPWIkGIQvs {
        width: 95%;
    }

    .MbCjWLEVMle {
        padding: 15px;
        width: 100%;
    }

    .pUoAoItJDaR {
        display: none;
    }


    .irBhqArxvWl {
        padding: 30px;
    }

    .odBvATurdGD {
        padding: 10px 15px;
    }

    .bFmCImuEEvh {
        font-size: 28px;
    }

    .LxJMRtgPlWt {
        padding: 15px 30px;
    }

    .KfRsfZzJMAq {
        min-height: 155px;
    }

    .DgTWkTPwFzb {
        display: none;
    }

    .ypmjNfjXHMA {
        margin-top: 130px;
    }

    .XcNEqAjaVgs {
        padding: 70px 0;
    }

    .YuuqhjGJsYi {
        max-width: 600px;
        width: 100%;
    }

    .gJUweTVrxuD {
        position: relative;
        bottom: unset;
        left: unset;
        margin-top: -80px;
    }

    .KJyefKemRKS {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .gMZuatHipTH {
        background: #fff;
    }

    .BQRbDVWHsjh {
        padding: 100px 0;
    }
    .sec1 .item:first-child {
    width: 60%;
}
    .sec1 .item:last-child {
    width: 37%;
    padding-top: 0;
}
.telegram_sec .block2{
	padding: 20px;
	justify-content: space-between;
}
.telegram_sec .block2 h3 {
    font-size: 24px;
}
.telegram_sec .block2 .text_wrap{
	width: 42%;
}
.btn_join{
	width: 335px;
}
.EFMmNizLMXG img {
    vertical-align: bottom;
    height: 100%;
}
.telegram_sec .item:last-child {
    width: 33%;
}
.container3{
    padding: 0 30px;
}
.telegram_sec h2{
    font-size: 30px;
}
 .o_m li, .o_rot p span, .pb .buy {
        line-height: 1.2
    }

    .container {
        width: 960px
    }

    .m_h h1 {
        font-size: 38px
    }

    .m_h p {
        font-size: 16px
    }

    .pr_wr {
        width: 700px;
        padding: 16px 17px
    }

    .pr span {
        font-size: 14px
    }

    .price {
        max-width: 224px;
        min-width: 224px
    }

    .price h4 {
        font-size: 18px;
        padding: 24px 0
    }

    .price ul {
        padding: 4px 14px 30px
    }

    .price ul li {
        font-size: 13px;
        padding-left: 20px
    }

    .ph {
        height: 120px
    }

    .ph h5 {
        font-size: 16px
    }

    .ph p {
        font-size: 14px
    }

    .p_self p {
        font-size: 12px
    }

    .pm strong {
        font-size: 24px;
        margin-left: 6px
    }


    .price.gold .pm p {
        font-size: 12px
    }

    .price.gold .pm strong {
        font-size: 30px
    }

    .pb .buy {
        height: auto;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px
    }

    .o_rot {
        width: 80px
    }

    .o_rot p {
        font-size: 14px
    }

    .o_rot p span {
        font-size: 26px
    }

    .o_m {
        padding-left: 30px
    }

    .o_m h3 {
        font-size: 50px
    }

    .o_m h4 {
        font-size: 18px
    }

    .o_m li, .o_m p {
        font-size: 16px
    }

    .o_m ul {
        padding: 0
    }

    .o_m li {
        margin: 16px 0
    }

    .o_m li:before {
        top: 0
    }

    .o_r {
        padding: 0 50px
    }

    .o_r h4 {
        font-size: 18px
    }

    .o_r img {
        display: none
    }

    .s1 {
        padding-bottom: 81px
    }



    .graph, .graph img {
        width: 100%
    }

    .graph .i1 {
        left: 149px;
        top: 194px
    }

    .graph .i2 {
        left: 318px;
        top: 157px
    }

    .graph .i3 {
        left: 477px;
        top: 120px
    }

    .graph .i4 {
        left: 638px;
        top: 85px
    }

    .graph .e_d {
        left: 795px;
        top: 47px;
        text-align: center
    }

    .graph p {
        font-size: 14px
    }

    .graph p strong {
        font-size: 30px
    }

    .graph .e_d span {
        font-size: 26px
    }

    .s_h h3 {
        font-size: 20px
    }

    .s_h h2 {
        font-size: 30px
    }

    .s4 {
        padding-top: 80px
    }

    .t_wr .t {
        padding: 14px 16px 18px
    }

    h2 {
        font-size: 32px
    }

    .t_wr .wrap {
        font-size: 36px
    }

    .t_wr .wrap span {
        width: 70px
    }

    .t_wr .wrap i {
        font-size: 12px;
        margin-top: 6px
    }

    .t_wr img {
        margin: 0 40px;
        width: 30px
    }

    .buy.big {
        height: 80px;
        line-height: 80px;
        font-size: 18px
    }

    .s3_b li {
        font-size: 16px
    }

    .s3_b li:first-child {
        margin: 0
    }

    .s5 .s_h h4 {
        font-size: 20px
    }

    .s5 .buy_wr {
        width: 40%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .s5 .buy_wr a {
        width: 100%
    }

    .s6 .s2_i {
        padding: 30px
    }

    .s6 .s2_i p {
        font-size: 16px
    }

    .i3 h4 {
        font-size: 26px
    }

    .foot p {
        font-size: 12px
    }
    .bilet_descr h3{
        font-size: 37px;
    }
    .before_action_sec .block .date{
        font-size: 37px;
    }
    .s5 .group img {
    width: 135px;
    height: 140px;
}
.doatish .gearshifts:before{
    width: 45px;
}
.doatish .gearshifts:after{
     width: 45px;
}
}

@media all and (max-width: 991px) {
    .MkdMgcdGfLi {
        margin-top: 30px;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .zQjGkCWULmn {
        margin-top: 40px;
    }

    .LerCMruzaAq {
        margin-top: 50px;
    }

    .BgPSENhcjFg {
        margin-top: 40px;
    }

    .qLQYiuqmYtS {
        padding: 15px 0 55px;
    }

    .rjmNOROwWJK {
        margin-top: 40px;
    }

    .HAWxYKFBHCl {
        max-width: 400px;
    }

    .zIgLwQUhTGN {
        margin-top: 0;
        text-align: center;
    }

    .OQvwQmMTEDM {
        min-height: 150px;
    }

    .zuWcAaVUAjk {
        position: relative;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        margin-top: -70px;
        margin-bottom: -130px;
    }

    .CfIHJhmUgiN {
        margin-top: 15px;
        text-align: center;
    }

    .CMPWIkGIQvs {
        width: 80%;
    }

    .MbCjWLEVMle {
        width: 80%;
    }

    .wzvKKRiyVUu {
        padding: 30px;
    }

    .QKhIerkmAme {
        min-width: unset;
        max-width: unset;
    }

    .VzyuRLUVxlr {
        border-right: unset;
        border-bottom: 1px dashed #3A5BD1;
        -webkit-border-radius: 30px 30px 10px 10px;
        border-radius: 30px 30px 10px 10px;
    }

    .irBhqArxvWl {
        -webkit-border-radius: 10px 10px 30px 30px;
        border-radius: 10px 10px 30px 30px;
        padding: 60px;
    }

    .ckaxegDVZiX:nth-of-type(2) > .odBvATurdGD {
        border-left: unset;
        border-right: unset;
        border-top: 1px solid #DCE2F6;
        border-bottom: 1px solid #DCE2F6;
    }

    .odBvATurdGD {
        padding: 15px 15px;
    }

    .eEsNJjyjwPW {
        background: url(../img/eEsNJjyjwPW_1.png) no-repeat center/cover;
    }

    .KfRsfZzJMAq {
        min-height: 110px;
    }

    .gJUweTVrxuD {
        position: absolute;
        bottom: 30px;
        left: 45px;
    }

    .gMZuatHipTH {
        background: rgba(255, 255, 255, 0.95);
    }

    .wpavAVeLaLX {
        margin-top: 40px;
    }
    .sec1 .item:first-child{
    	width: 100%;
    }
    .sec1 .item:last-child{
    	width: 100%;
    	padding-top: 30px;
    }
    .sec1 h2{
    	font-size: 39px;
    }
    .sec1 h3{
    	font-size: 32px;
    }
    .sec2 .col-md-4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    }
    .sec2 h2{
    	font-size: 29px;
    }
    .telegram_sec h2{
    	font-size: 29px;
    }
    .telegram_sec .block2 .img_wrap{
			width: 40%;
			text-align: center;
    }
    .telegram_sec .block2 .text_wrap{
			width: 60%;
			margin-left: 0;
    }    
    .btn_join{
    	margin: 30px auto 0;
    }

    .telegram_sec .item:first-child{
        width: 100%;
    }
    .telegram_sec .item:last-child{
        width: 100%;
        margin-top: 30px;
    }
    .mobile_item{
        margin: 0 auto;
    }
     .foot, .online, .s5 .buy_wr, .s5 .s_h ul li {
        text-align: center
    }

    .container {
        width: 730px
    }

    .prices {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .price {
        max-width: 340px;
        min-width: 340px;
        margin-bottom: 30px
    }

    .s5 .buy_wr a, .t_wr a {
        max-width: 500px
    }

    .p_self {
        height: 400px
    }

    .o_wr {
        padding-top: 0
    }

    .online {
        display: block
    }

    .o_rot {
        width: 100%;
        padding: 10px 0 12px
    }

    .o_rot p {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    .o_m li {
        padding: 0
    }

    .o_m li:before {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        top: 4px
    }

    .o_r {
        width: 100%;
        padding: 30px 50px;
        border-top: 1px dashed #004bc5
    }

    .o_r:before {
        display: none
    }

    .clock, .clock img, .t_wr img {
        display: block
    }

    .s1 {
        padding: 60px 0
    }

    .s2_items {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 -15px
    }

    .i3 {
        width: 335px;
        margin: 15px
    }

    .s2_i a {
        font-size: 15px
    }

    .s3 {
        padding: 60px 0 80px
    }

    .graph .i1 {
        left: 96px;
        top: 153px
    }

    .graph .i2 {
        left: 224px;
        top: 125px
    }

    .graph .i3 {
        left: 328px;
        top: 83px
    }

    .graph .i4 {
        left: 466px;
        top: 71px
    }

    .graph .e_d {
        left: 581px;
        top: 43px
    }

    .graph p {
        font-size: 12px
    }

    .graph p strong {
        font-size: 24px
    }

    .graph .e_d span {
        font-size: 22px
    }

    .clock {
        padding: 0 50px 40px
    }

    .clock img {
        position: static;
        margin: -120px auto 0
    }

    .book {
        margin-top: 160px
    }

    .bo_t {
        padding-left: 270px
    }

    .bo_t img {
        width: 300px
    }

    h2 {
        font-size: 28px
    }

    .t_wr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .t_wr img {
        margin: 30px auto;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .s3_b ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .s3_b ul li {
        padding-left: 60px;
        width: 330px;
        font-size: 16px
    }

    .s3_b ul li:before {
        font-size: 48px;
        top: 0
    }

    .s5 .s_h ul {
        display: block
    }

    .s5 .s_h ul li {
        padding: 20px 0 40px !important
    }

    .s5 .s_h ul li:after {
        width: 130px;
        height: 1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0;
        right: auto;
        top: auto
    }

    .s5 .buy_wr {
        padding: 50px 0 100px
    }

    .s5 .buy_wr a {
        display: inline-block
    }

    .s5 .buy_wr img {
        display: none
    }

    .s6 .buy {
        margin: 50px auto 0
    }

    .success {
        margin-top: 60px
    }

    .s7 {
        padding: 100px 0
    }

    .foot {
        display: block
    }

    .policy {
        padding: 30px 0
    }

    .hahnemannism,
    .doatish,
    .preomit {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    
    .doatish {
        margin-top: 15px;
    }

    .doatish .gearshifts {
        justify-content: center;
    }
    
    .doatish .gearshifts:before {
        display: none;
    }
    
    .preomit {
        margin-top: 30px;
        justify-content: center;
    }    
    .doatish .gearshifts::after{
        display: none;
    }
    .bilet_descr h3 {
    font-size: 24px;
    line-height: 30px;
}
.bilet_descr .bilet_head{
    margin-top: 0;
}
.pay_left h3{
    font-size: 26px;
}
.pay_left{
    padding: 30px;
}
.pm .wsnw .new_price{
    font-size: 20px;
}
.pm .wsnw{
    margin-top: 10px;
}
.pb .buy{
    font-size: 10px;
}
.before_action_sec .block .date {
    font-size: 29px;
}
.before_action_sec .block h3{
    font-size: 21px;
    line-height: 26px;
}
.o_m ul {
    padding: 0;
    width: 100%;
}
.o_m{
    justify-content: center;
    padding: 30px;
}
.s4 .book_wrap h2{
    font-size: 28px;
    line-height: 30px;
}
.s4 .book_wrap{
    padding: 50px 40px;
}
.aut_item h4{
    font-size: 22px;
}
.s5 .group{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
}

@media all and (max-width: 767px) {
    .NBpGJEUWKGH {
        margin-top: 50px;
    }

    .mGXyvgzVMtT {
        font-size: 105px;
    }

    .XLKfpwrkvwr {
        width: 100%;
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    }

    .zIboLVArxtm {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .zuWcAaVUAjk {
        max-width: 100%;
    }

    .pTbEZhnhcyO {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .QKhIerkmAme {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .CzTmqZZjwXK {
        font-size: 20px;
    }

    .iElNdeSZWfy {
        margin-top: 30px;
    }
    .book, .clock, .t_wr .t {
        border-width: 5px
    }

    .prices, .s3_b ul, .success {
        display: block
    }

    .bo_t img, .clock img, .price, .success img {
        max-width: 100%
    }

    .container, .pr_wr {
        width: 100%
    }

    .m_h h1 {
        font-size: 28px;
        margin-top: 50px
    }

    .m_h p {
        font-size: 14px
    }

    .pr {
        text-align: left
    }

    .bo_t h4, .s5 .group, .s_h, .success, h2 {
        text-align: center
    }

    .pr span {
        font-size: 12px;
        padding-left: 12px;
        color: #fff !important
    }

    .pr span strong {
        width: 32px
    }

    .s_h h3 {
        font-size: 18px
    }

    .s_h p {
        font-size: 16px
    }

    .price {
        width: 100%;
        min-width: 100%
    }

    .p_self {
        height: auto
    }

    h2 {
        font-size: 24px
    }

    .buy {
        height: auto !important;
        line-height: 1.2 !important;
        font-size: 16px !important;
        padding: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .o_r p span {
        white-space: nowrap
    }

    .clock {
        padding: 0 15px 30px
    }

    .bo_t {
        padding-left: 0
    }

    .bo_t h2 {
        font-size: 30px
    }

    .bo_t h3, .book p {
        font-size: 14px
    }

    .bo_t h4 {
        padding-bottom: 0
    }

    .bo_t img {
        position: static
    }

    .book {
        padding: 15px;
        margin-top: 30px
    }

    .t_wr .t {
        padding: 14px 10px 18px
    }

    .t_b_wr h2 {
        margin: 40px 0
    }

    .s_h .t_wr .wrap span, .t_wr .wrap span {
        width: 50px
    }

    .s_h .t_wr .wrap, .t_wr .wrap {
        font-size: 26px
    }

    .s_h .t_wr .wrap i, .t_wr .wrap i {
        font-size: 10px
    }

    .t_wr img {
        margin: 20px auto
    }

    .t_b_wr {
        margin-bottom: 60px
    }

    .s3_b ul li {
        margin: 16px 0;
        width: auto
    }

    .s5 .group img {
        width: 130px;
        height: auto;
        height: 140px
    }

    .s6 .buy, .success .s_txt {
        width: auto
    }

    .s5 .buy_wr a {
        padding: 30px 20px
    }

    .s6 {
        padding: 60px 0
    }

    .success img {
        margin-right: 0
    }

    .graph {
        padding-left: 10px;
        position: relative;
        margin-top: 10px
    }

    .graph:before {
        top: 0;
        left: 19px;
        width: 10px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        height: 100%;
        position: absolute;
        background: -webkit-linear-gradient(274.68deg, #3460e2 5.92%, #ec2551 100%);
        background: -o-linear-gradient(274.68deg, #3460e2 5.92%, #ec2551 100%);
        background: linear-gradient(175.32deg, #3460e2 5.92%, #ec2551 100%);
        content: ''
    }

    .graph img {
        display: none
    }

    .graph p {
        position: relative;
        left: auto !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        margin: 30px 0 !important;
        text-align: left !important;
        padding-left: 50px
    }

    .graph p:before {
        left: 0;
        top: 10px
    }

    .s_h h2 {
        font-size: 20px
    }

    .graph p strong {
        font-size: 40px
    }

    .graph .e_d span {
        font-size: 32px
    }

    .graph p {
        font-size: 14px
    }
    .s1 .block .item{
        width: 100%;
    }
    .s1 h2{
        font-size: 28px;
    }
    .s1 .container{
        padding: 0 15px;
    }
    .before_action_sec .block h3{
        width: 100%;
        padding-right: 0;
        background: none;
        text-align: center;
    }
    .before_action_sec .block h3::after{
        display: none;
    }
    .before_action_sec .block .item_right{
        width: 100%;
    }
    .s2 .o_wr h2{
        font-size: 28px;
    }
    .s4 .book_wrap .block .item{
        padding-bottom: 30px;
    }
    .aut_item h4 {
    font-size: 18px;
}
.s5 .container{
    padding: 0 15px;
}
.s5 .group{
    justify-content: center;
}
.s5 .buy_wr a{
    width: 100%;
}
.s5 .buy_wr{
    width: 100%;
}
.vybor_table_mobile{
    display: block;
}
.vybor_table{
    display: none;
}
}

@media all and (max-width: 575px) {
    /* ------------------- timer ------------------- */
    .timer_col:not(.timer_col__milliseconds) .timer_div__num:after {
        font-size: 25px;
    }

    /* ------------------- carousel ------------------- */
    #carousel img {
        max-width: 250px;
    }

    .ypmjNfjXHMA {
        margin-top: 30px;
    }

    .carousel-buttons {
        margin-top: 30px;
    }

    /* ------------------- main styles ------------------- */
    .rWXbPxzTmoB {
        font-size: 35px;
    }

    .mGXyvgzVMtT {
        font-size: 65px;
    }

    .hDLLaWNYLNG {
        padding: 20px 15px;
    }

    .button_main {
 font-size: 13px;
        padding: 15px;
    }

    .frfTXoYWXOn {
        font-size: 30px;
    }

    .TRppLulJyeU {
        font-size: 18px;
    }

    .kyVpwOylUqH {
        font-size: 30px;
    }

    .RNpisaQJVFJ {
        font-size: 75px;
    }

    .haWBIeWOJLs {
        padding: 20px 15px;
    }

    .HAWxYKFBHCl {
        max-width: 100%;
    }

    .DlLRnqmGOKx {
        font-size: 18px;
    }

    .vPdoOHGprPg {
        font-size: 20px;
    }

    .fCUNWfhqDdf {
        font-size: 30px;
    }

    .IgxoHdJWRZm {
        font-size: 18px;
    }

    .qDzNWYnauIN {
        font-size: 18px;
    }

    .ZTqNRZqKGOt {
        font-size: 30px;
    }

    .visIYIhyBBP {
        font-size: 20px;
    }

    .KsUPSeSKnOB {
        padding: 20px 16px;
    }

    .TXwoxgSwTtZ {
        font-size: 20px;
    }

    .zuWcAaVUAjk {
        margin-top: -30px;
        margin-bottom: -90px;
    }

    .CMPWIkGIQvs {
        width: 100%;
    }

    .MbCjWLEVMle {
        width: 100%;
    }

    .WsTECTpZpeb {
        padding: 20px 15px;
    }

    .itqbMJwNLHd {
        font-size: 18px;
    }

    .LhaHdvYEKkd {
        font-size: 30px;
    }

    .UTqLTiPiBkb {
        font-size: 20px;
    }

    .TnBNFdmhANx {
        font-size: 30px;
    }

    .TnBNFdmhANx:after {
        display: none;
    }

    .lPGWxvhyJQq {
        font-size: 30px;
    }

    .QWGUoMiYAFw {
        font-size: 18px;
    }

    .jQbHMdSXLNq {
        font-size: 30px;
    }

    .HZmBvzkoEiv {
        font-size: 18px;
    }

    .cYatuKrQFBR {
        font-size: 18px;
    }

    .vSCKfMoQkuS {
        line-height: 1.3em;
        font-size: 30px;
    }

    .irBhqArxvWl {
        padding: 50px 30px;
    }

    .EGAMdsVevgt:before {
        font-size: 60px;
    }

    .hMzSeiYIoML {
        font-size: 30px;
    }

    .niebSJwlKhq {
        padding: 20px 0;
    }

    .RSiquKknjiH {
        font-size: 30px;
    }

    .eEsNJjyjwPW {
        padding: 20px 15px;
    }

    .YbRoYqZUkRZ {
        padding: 20px 15px;
    }

    .pzsUnJJXmIU {
        padding-right: 0;
    }

    .xNwFiqBBrSt {
        font-size: 24px;
    }

    .KfRsfZzJMAq {
        min-height: 110px;
    }

    .KfRsfZzJMAq {
        min-height: unset;
        padding: 20px 15px;
    }

    .GtoPNvVaCkt {
        font-size: 26px;
    }

    .UlGQlQaFVCs {
        font-size: 26px;
    }

    .rSqCWkqtYgj {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .NyPyuKNtbIt {
        font-size: 30px;
    }

    .ZGnNAXNWJeL {
        font-size: 20px;
    }

    .yRMnzykxsUk {
        font-size: 30px;
    }

    .timer_p__num {
        font-size: 30px;
    }

    .timer_p__text {
        font-size: 11px;
    }

    .NYoeOHxCyqy {
        font-size: 30px;
    }

    .AmDYGcWNino {
        font-size: 30px;
    }

    .ppfXTNegAie {
        padding: 40px 15px;
    }

    .HfKquOodeow {
        font-size: 30px;
    }

    .GyuVjZWqGkm {
        font-size: 18px;
    }

    .CzTmqZZjwXK {
        font-size: 18px;
    }

    .gJUweTVrxuD {
        position: relative;
        bottom: unset;
        left: unset;
        margin: 0;
        width: 100%;
    }

    .gMZuatHipTH {
        padding: 20px 15px;
    }

    .pwJtXRiGjrF {
        padding: 0;
    }

    .FiHCHAPzwvR {
        margin-top: 25px;
    }

    .EhNHzbiWgcK {
        padding: 15px;
    }
    .sec2 .col-md-4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
    .telegram_sec .item:first-child{
    	width: 100%;
    }
    .telegram_sec{
    	padding: 60px 0;
    }
    .telegram_sec .block2 .img_wrap{
    	width: 100%;
    	margin-bottom: 30px;
    }
    .telegram_sec .block2 .text_wrap{
    	width: 100%;
    	text-align: center;
    }
    .mGXyvgzVMtT {
    font-size: 40px;
    width: 100%;
    height: 60px;
    line-height: 48px;
}
.sec1 h2 {
    font-size: 26px;
}
.sec1 h3 {
    font-size: 23px;
}
section.sec1{
	padding: 60px 0;
}
.sec1 .item .text_wrap p br{
	display: none;
}
.sec1 .item .text_wrap p{
	font-size: 16px;
	line-height: 24px;
}
.back-blue {
    padding: 3px 10px;
    background: #004BC5;
    color: #fff;
    width: 100%;
    display: block;
    font-size: 16px;
}
.sec2 h2 {
    font-size: 21px;
}
.sec2{
	padding: 60px 0;
}
.btn_review{
	width: 100%;
}
.telegram_sec h2 {
    font-size: 21px;
}
.telegram_sec .item span{
	font-size: 11px;
	text-align: center;
	display: block;
	width: 100%;
	margin: 30px 0;
}
.telegram_sec .block2{
	margin-top: 20px;
}
.telegram_sec .block2 h3 {
    font-size: 19px;
}
.btn_join{
	padding: 0 30px;
	overflow: hidden;
	font-size: 19px;
}
.oKHzYheOJMe{
	overflow: hidden;
}
.photo_gallery_sec h2{
	font-size: 29px;
}
.photo_gallery_sec{
	padding: 60px 0;
}
.KJTNvcGKZKd{
	padding: 60px 0;
}
.mobile_item {
    margin: 0;
}
.photo_block:nth-child(2n) .item,.photo_block:nth-child(2n+1) .item{
    width: 100%;
}
.photo_block{
    padding-bottom: 0 !important;
}
.XcNEqAjaVgs h2{
    font-size: 26px;
}
.XcNEqAjaVgs h3{
    font-size: 19px;
}
.button_main.button_main2{
    width: 100%;
}
section.sec_reg{
    padding: 20px;
}
.reg_info_sec h2{
    font-size: 20px;
}
.reg_info_sec p{
    font-size: 15px;
    line-height: 17px;
}
.reg_block .item{
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}
.reg_block .item p{
    padding-top: 0;
}
.reg_block .item::after{
    right: auto;
    bottom: 10px;
    top: auto;
}
.buttons_wrap{
    padding-top: 40px;
}
.btn_mes {
font-size: 11px;
    background-size: 50px;
    background-position: 5px center;
}
.m_h h1{
    font-size: 23px;
}
.m_h p.vyb_descr{
    font-size: 15px;
}
.s1 h2 {
    font-size: 19px;
}
.s1 .block .item .num{
    text-align: center;
    width: 100%;
}
.before_action_sec .block{
    padding: 20px;
}
.before_action_sec .block h3 {
    font-size: 16px;
    line-height: 21px;
}
.before_action_sec .block .date {
    font-size: 22px;
}
.before_action_sec .block span{
    font-size: 14px;
}
.s2 .o_wr h2 {
    font-size: 25px;
}
.s4 .book_wrap h2 {
    font-size: 19px;
    line-height: 23px;
}
.s4 .book_wrap{
    border-width: 5px;
}
.s4 .book_wrap .block .item {
    padding-bottom: 30px;
    width: 46%;
}
.aut_item h4{
    width: 100%;
}
.aut_item p{
    margin-top: 20px;
    width: 100%;
}
.s4 .book_wrap{
    padding: 0 15px 30px;
}
}

@media all and (max-width: 381px) {
 .btn_mes {
    font-size: 10px;
    background-size: 30px;
    background-position: 5px center;
}   
}