@import "vars"
@import "libs"
@import "main.css"
@import "media.css"

body
	opacity: 1
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	&.load>section,
	&.load>header,
	&.load>footer
		opacity: 1
	&.load
		background-color: #152c70
		&:before
			display: none
			animation: none
img
	opacity: 0
	&.lazyloaded 
		transition: opacity .15s ease-out !important
		opacity: 1
.payroll
	min-height: 70px
video
	width: 100%
	height: 100%
.mCSB_scrollTools .mCSB_buttonRight
	background-image: url('../img/mCSB_buttons.webp') 

html:not(.webp).mCSB_scrollTools .mCSB_buttonRight
	background-image: url('../img/mCSB_buttons.png') !important

.fancybox-image
	opacity: 1
.ACeBVhdPRSq.load
	opacity: 1 !important
	transition: opacity .3s ease-in !important
.photo_gallery_sec, .iQBUYCfQOHz, .BQRbDVWHsjh, .qetXplEGDux
	background-color: #fff
.toploftical
	border-radius: 10px
	background-position: 20% 100%
	background-repeat: no-repeat
	background-size: cover
.video .kappie
	color: #fff
#pol .kappie
	z-index: 2222
.kappie
	right: 20px!important
#pol h2, #pol h3
	padding-bottom: 1rem
	padding-top: 2rem
#pol h3
	font-size: 24px
#pol p
	font-size: 14px
	color: $secondary
.bg-light2
	background-color: $light

.modal-open .modal .container
	z-index: 3333
	position: relative
.ed.logo
	height: 39px
.pr span span
	color: #fff !important
	width: 130px
	font-size: 16px
.m_h .pers
	transform: translateX(-110%)
	max-width: 150px
.pers
	position: relative
	transform: translateX(-100%)
	text-align: right
	font-size: 14px
	color: #fff !important
	padding-right: 5px
.iti__country-list
	position: relative
	z-index: 22
.iti__country
	color: $dark
.error-message
	display: none !important
	position: absolute
	left: 0
	top: -65px
	width: 100%
	z-index: 22
	.alert-heading.small
		font-size: 14px
	small
		font-size: 14px
.is-invalid
	border: 1px solid red !important
	box-shadow: 0 12px 15px rgba(red, .08) !important
.count .act
	text-align: center
.count img
	width: 20px
	height: 20px
	opacity: 1!important
	position: relative
	display: block
	z-index: 222
	margin-left: auto
	margin-right: auto
.ed-spiner
	display: none
form.send
	&>*
		display: none
	.ed-spiner
		text-align: center
		padding: 5vh
		display: block !important
		width: 25vh
		margin: 0 auto
		svg
			height: 15vh
			animation: svgamin 5s ease-in-out infinite
			circle
				fill: transparent
				animation: ellipseamin 5s ease-in-out infinite
			path
				fill: #152c70
				animation: pathcoloramin 5s ease-out infinite
@keyframes svgamin
	0%
		transform: rotate(-1080deg)
	20%
		transform: rotate(0deg)
	30%
		transform: rotate(0deg)
	50%
		transform: rotate(720deg)
	80%
		transform: rotate(2700deg)
	92%
		transform: rotate(2660deg)
	100%
		transform: rotate(2880deg)

@keyframes pathcoloramin
	0%
		fill: #152c70
	40%
		fill: blue
	50%
		fill: #152c70
	70%
		fill: red 
	100%
		fill: #152c70

@keyframes ellipseamin
	0%
		transform: translateX(-200%) translateY(200%)
		fill: transparent
	10%
		transform: translateX(-50%) translateY(50%)
		fill: transparent
	20%
		transform: translateX(-40%) translateY(40%)
		fill: transparent
	30%
		transform: translateX(0%) translateY(0%)
		fill: red
	75%
		transform: translateX(0%) translateY(0%)
		fill: blue
	100%
		transform: translateX(-200%) translateY(200%)
		fill: #fff

#alter
	.container
		max-width: 1170px
	.NBpGJEUWKGH
		margin-top: 7%
	.ACeBVhdPRSq
		padding: 25px 0
	.gWETbfbRRbi,
	.gnszNwcSmWu
		margin-top: 8%
	.mGXyvgzVMtT
		border: none !important
		max-width: 670px
		display: block
	.rWXbPxzTmoB
		font-size: 32px
		letter-spacing: .02em
		text-transform: none
	.hDLLaWNYLNG
		padding: 20px 30px
	.form_descr
		font-weight: 600
		font-size: 15px
		text-transform: none
		padding: 10px 0
		span
			font-weight: normal
	.VzpBDgKojMy
		padding: 2px 20px
		font-size: 16px
		font-weight: 600
		height: 50px
		&[type="tel"]
			padding: 2px 64px
	.button_main
		font-size: 15px
		min-height: 50px
		font-weight: 400
		background-color: #EC2551
	.form_flex p
		font-size: 14px
		font-weight: 600
	.timer_p__num
		font-size: 40px
	.timer_col .timer_div__num:after
		font-size: 28px
		font-weight: 400
		line-height: 1
		top: 46%
	.utdxYWlXyHc
		font-size: 20px
		line-height: 1.8rem
		font-weight: 400
		max-width: 600px
	.timer_p__text
		font-size: 13px
		font-weight: 300
		letter-spacing: .4px
	.QfPTCMuXTqX
		margin-top: 15px
	.XfPKUUKYNPg
		margin-top: 20px
	.form_flex.flex
		padding-top: 30px
	.timer_row
		margin: 0
		padding-top: 20px
		padding-bottom: 10px
	.back-blue
		padding: 2px 2px 2px 5px
		font-weight: 500
	.intl-tel-input .selected-flag
		padding: 0 0 0 20px
	.MWSkYqbCeRQ,
	.gHRKkVyBvBn
		height: 50px
		font-size: 13px
		letter-spacing: .4px
	.gHRKkVyBvBn
		padding-top: 6%
	.uUkeLSfdtdy
		text-align: right
		line-height: 1
		padding-top: 3px
	.VMsIyNdqeuw
		&:before
			display: none
	.VDBaGtQJKsZ
		display: inline-block
		&:before
			content: ''
			position: relative
			display: -webkit-box
			display: -webkit-flex
			display: -ms-flexbox
			display: flex
			-webkit-box-flex: 1
			-webkit-flex-grow: 1
			-ms-flex-positive: 1
			flex-grow: 1
			height: 2px
			background: #fff
			margin-right: 20px
			max-width: 80px
			top: -10px
	.uUkeLSfdtdy
		padding-left: 0
		padding-right: 30px
	.ed.logo
		height: 40px
		margin-top: 10px
	.bywXtRrylxk
		font-size: 15px
		width: 100%
	.DbqMDcyuGKr
		font-size: 18px
		line-height: 1.4
		padding-top: 10px
		padding-bottom: 10px
	.MbCjWLEVMle
		font-size: 13px
	.LxJMRtgPlWt, .PCTuIFUuqax
		font-size: 20px
	.form_img
		padding-left: 15px
		padding-top: 5px
	.cBuXcVjbVpb
		background-image: url('../svg/arr_right_red.svg')
		background-repeat: no-repeat
		background-position: 100% 50%
	.ACeBVhdPRSq
		min-height: 100vh
	.KLmiVAFCKbp
		font-size: 22px
	.AgfMsPmblHW
		font-size: 12px
		line-height: 1.6

@media (max-width: 1200px)
	#alter
		.container
			max-width: 970px
		.bBcgSnkXgKx
			margin-top: 0
		.uUkeLSfdtdy
			order: 2
			padding-right: 15px
		.VMsIyNdqeuw
			font-size: 22px
		.VDBaGtQJKsZ
			font-size: 12px
		.VDBaGtQJKsZ:before
			width: 50px
		.utdxYWlXyHc
			max-width: 480px
		.mGXyvgzVMtT
			max-width: 500px
		.rWXbPxzTmoB
			font-size: 26px
		.uUkeLSfdtdy
			margin-top: 0px
		.ed.logo
			margin-top: 0
@media (max-width: 991px)
	#alter
		.container
			max-width: 730px
		.cBuXcVjbVpb
			background-image: url('../svg/arr_right_red_bottom.svg')
			background-position: 50% 100%
			background-size: 80%
		.gHRKkVyBvBn
			padding-top: 2.8%
		.rWXbPxzTmoB
			font-size: 28px
		.MkdMgcdGfLi
			max-width: 100%
		.gWETbfbRRbi,
		.gnszNwcSmWu
			margin-top: 40px
		.utdxYWlXyHc
			max-width: 600px
			margin-left: auto
			margin-right: auto
		.utdxYWlXyHc
			font-size: 18px
			padding-bottom: 20px
		.uUkeLSfdtdy
			padding-right: 15px
			padding-top: 0
			margin-top: 10px
		.hDLLaWNYLNG
			max-width: 440px
			margin-left: auto
			margin-right: auto
		.HjRboQCXqrB
			overflow: hidden
		.bBcgSnkXgKx
			margin-top: 10px
@media (max-width: 767px)
	#alter
		.container
			max-width: 550px
		.ed.logo
			max-width: none
			height: 50px
			margin-top: 30px
		.ACeBVhdPRSq
			padding: 0
		.gHRKkVyBvBn
			padding-top: 10px
		.uUkeLSfdtdy
			padding-right: 15px
			padding-top: 0
			margin-top: 30px
		.VDBaGtQJKsZ:before
			display: none
		.utdxYWlXyHc
			max-width: 440px
		.mGXyvgzVMtT img
			padding: 0.3rem 1.3rem
		.LerCMruzaAq
			margin-top: 10px
			padding-bottom: 20px
		.gnszNwcSmWu
			margin-top: 10px
@media (max-width: 575px)
	#alter
		.container
			max-width: 450px
		.ACeBVhdPRSq
			background-size: auto 100%
			background-position: 50% 0
		.VDBaGtQJKsZ
			font-size: 13px
			max-width: 210px
			padding-top: 5px
			line-height: 1.4
		.rWXbPxzTmoB
			font-size: 22px
			line-height: 1.3
		.KLmiVAFCKbp
			font-size: 15px
			line-height: 1.4
		.utdxYWlXyHc
			font-size: 15px
			line-height: 1.5
			letter-spacing: .3px
		.back-blue
			font-size: 15px
			letter-spacing: .3px
			margin-left: -4px
			&>br
				display: none !important
		.VMsIyNdqeuw
			font-size: 18px
		.ed.logo
			margin-top: 20px
		.uUkeLSfdtdy 
			margin-top: 20px
		.NBpGJEUWKGH
			margin-top: 30px
		.bBcgSnkXgKx
			margin-top: 10px
		.cBuXcVjbVpb
			background-size: 100%
		.mGXyvgzVMtT img
			padding: .2rem .4rem
		.form_descr 
			padding: 0
		.MkdMgcdGfLi
			padding-left: 15px !important
			padding-right: 15px !important
		.hDLLaWNYLNG
			padding: 10px 20px
			max-width: 350px
		.mGXyvgzVMtT img
			padding: 0rem 1rem
		.timer_p__num
			font-size: 30px
		.timer_p__text
			font-size: 11px
@media (max-width: 400px)
	#alter
		
		.MkdMgcdGfLi
			margin-top: 15px
		section
			padding: 0 !important
		.VMsIyNdqeuw
			font-size: 16px
		.ed.logo
			max-width: none
			height: 50px
			margin-top: 20px
		.uUkeLSfdtdy
			line-height: 1.5
			margin-top: 15px
		.gHRKkVyBvBn
			font-size: 12px
			letter-spacing: .5px
			padding: 13px 5px 0 5px
		.MWSkYqbCeRQ
			font-size: 11px
			letter-spacing: 0
			padding: 0px 5px
		.rWXbPxzTmoB
			font-size: 18px
			line-height: 1.4
		.utdxYWlXyHc
			font-size: 12px
			br
				display: none
		.back-blue
			padding: 0px 2px
			font-size: 12px
			margin-left: -4px
			line-height: 1.6
		.KLmiVAFCKbp,
		.utdxYWlXyHc
			line-height: 1.6
			letter-spacing: .3px
			font-size: 12px
		.VKlctAJMzOn
			margin-top: 5px
		.VDBaGtQJKsZ
			font-size: 11px
			letter-spacing: 1px
			line-height: 1.6
			padding: 0
		.gWETbfbRRbi
			margin-top: 20px
			margin-bottom: 10px